{% extends "base.html" %}

{% block content %}
<h1>Sales</h1>
<div class="form-card">
    <h2>Add Item</h2>
    <form action="/items" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label>Item Name</label>
            <input type="text" name="title" placeholder="e.g., Vintage Lamp" required>
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea name="description" placeholder="e.g., small grey Nike t-shirt" required></textarea>
        </div>
        
        <div class="form-group">
            <label>Picture of the item</label>
            <input type="file" name="image_file" accept="image/*">
        </div>

        <div class="form-group">
            <label>Price</label>
            <input type="number" name="price" step="0.01" placeholder="$0.00" required>
        </div>
        
        <button type="sumbit" class="btn btn-primary">Add item</button>
    </form>
</div>

<h2>Sales in the area</h2>
{% if items %}
    <div class="items-grid">
        {% for item in items %}
            <div class="item-card">
                <h5> {{ item[1] }}</h5>
                <p class="description"> {{ item[2] }}</p>
                <p class="price">${{ item[4] }}</p>
                {% if item[3] %}
                    <img src="{{ item[3] }}" alt="{{ item[1] }}" class="item-image">
                {% endif %}
            </div>

            <div class="button-group">
                <form method="POST" action="/delete/{{ item[0] }}" onsubmit="return confirm('Are you sure you want to delete this item?');" style="display: inline;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>

                <form method="GET" action="/edit/{{ item[0] }}" style="display: inline;">
                    <button type="submit" class="btn btn-secondary">Edit</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% else %} 
    <p>No Items found. Add some!</p>
{% endif %}

<a href="/" class="btn btn-secondary">Back to Home</a>
{% endblock %}